* {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}
body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.Social-card {
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  max-width: 325px;
  width: 100%;
  padding: 24px;
  border-radius: 10px;
  align-items: center;
  gap: 24px;
}
.address {
  font-weight: 600;
  color: hsl(75, 94%, 57%);
}
.text {
  font-weight: 400;
}
.Social-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.user-img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin: 5px;
}
.link {
  display: block;
  background-color: hsl(0, 0%, 20%);
  padding: 14px 0;
  border-radius: 10px;
  font-weight: 700;
}
.user-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.user-name {
  font-size: 24px;
}
.link:hover {
  cursor: pointer;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

@media screen and (min-width: 1280px) {
  .Social-card {
    max-width: 345px;
    width: 100%;
  }
  body {
    font-size: 15px;
  }
}
